@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    font-family: 'Kanit' !important;
}
.days {
    color: black;
    width: 400px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
}

.day {
    font-size: 26px;
    padding-left: 64px;
    position: relative;
    top: 2rem;
    font-weight: bold;
}
.day-code {
    font-size: 26px;
    padding-left: 70px;
    position: relative;
    top: 2rem;
    font-weight: bold;
}
.day-ten{
    font-size: 60px;
    padding-left: 57px;
    position: relative;
    top: 5rem;
    font-weight: bold;
}
.item
 {
    font-size: 20px;
    padding-left: 297px;
    position: relative;
    bottom: 105px;
 }
.left {
    border-left: 4px solid black;
    height: 288px;
    position: relative;
    left: 9rem;
    bottom: 24rem;
}
.code {
    font-size: 20px;
    padding-left: 172px;
    font-weight: bold;
    position: relative;
    bottom: 75px;
}
.items {
    font-size: 26px;
    padding-left: 36px;
    position: relative;
    top: 140px;
    font-weight: bold;
}
.count {
    font-size: 20px;
    position: relative;
    bottom: 75px;
    padding-left: 43px;
}
